1_dtd_externa.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT libro (titulo, autor, ano, editorial)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, apellido)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT ano (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ATTLIST libro id CDATA #REQUIRED>
