1_dtd_externa.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT libro (titulo, autor, ano, editorial, precio)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, apellido)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT ano (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST libro id CDATA #REQUIRED>
<!ATTLIST libro idioma CDATA #REQUIRED>
<!ATTLIST precio moneda CDATA #REQUIRED>
<!ATTLIST precio valor CDATA #REQUIRED>
