especies.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT especies (especie+)>
<!ELEMENT especie (nombre, familia, distribucion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT familia (#PCDATA)>
<!ELEMENT distribucion (zona+)>
<!ELEMENT zona (#PCDATA)>
<!ATTLIST especie identificador CDATA #REQUIRED>
<!ATTLIST estado estado (extinto | amenazado | sin-peligro) #REQUIRED>
<!ATTLIST nombre nombre-cientifico CDATA #REQUIRED>
